<h1>タスク一覧</h1>
<% @tasks.each do |task| %>
  <% if task.user == current_user %>
    タスク:<a href="/users/<%= current_user.id %>/tasks/<%= task.id %>"><%= task.content %></a>, status: <%= task.status %>
    <%= link_to "削除", user_task_path(task.user, task) , method: :delete, data: { confirm: "本当に削除しますか？" } %><br>
    作成者：<%= task.user.name %><br>
  <% end %>
<% end %>



